{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <style>
      .affiliate-title {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }
    </style>
  </head>

  <body
    style="background-image: url('{{ image_url }}'); background-size: cover; background-repeat: no-repeat; min-height: 100vh; display: flex; flex-direction: column; justify-content: space-between;"
  >
    <div class="container">
      <h1 class="heading">Weather App</h1>

      <form method="POST">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter City" />
        <button type="submit" class="btn">Search</button>
      </form>

      <div class="weather">
        <div class="left">
          <h2 class="temp">{{ temp }}&#176; C</h2>
          <h2 class="city">{{ city }}</h2>
        </div>
        <div class="right">
          <div class="icon">
            <img
              src="http://openweathermap.org/img/w/{{ icon }}.png"
              width="120px"
            />
          </div>
          <div class="condition">
            <p>{{ description }}</p>
            <p>{{ day }}</p>
          </div>
        </div>
      </div>

      <div class="ads">
        {% for ad in affiliate_links %}
        <div class="ad">
          <a href="{{ ad.url }}" target="_blank">
            <img
              src="{{ ad.image }}"
              alt="{{ ad.title }}"
              width="100px"
              height="100px"
            />
            <p class="affiliate-title">{{ ad.title }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>

    {% if exception_occurred %}
    <script>
      window.onload = function () {
        alert("City information is not available to Weather API");
      };
    </script>
    {% endif %}

    <footer>
      <p>@ Developed by S.SARATHCHANDRA</p>
      <div class="social-links">
        <a href="https://www.instagram.com/s_sarath_c/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/sarathchandra-simma-3465b4277/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://github.com/sarathchandrasimma" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://www.youtube.com/channel/UCRziTScwVcovqnXuc1xtXQA"
          target="_blank"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
